* {
  scrollbar-width: thin;
  scrollbar-color: darkgray whitesmoke;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: whitesmoke;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgray ;
  border: 3px solid whitesmoke;
}

html{
    max-height: 100vh;
}

body{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #262626;
    font-family: Verdana;
    max-height: 100vh;
    background-color: whitesmoke;
    font-size: .95em;
}

.wrapper{
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    
}

header h1{
    background-color: #212121;
    color: #ecf0f1;
    padding: 20px 15px;
    font-size: 120%;
    text-transform: uppercase;
    margin: 0;
    text-align: left;
}

.container{
    padding: 20px;
    background-color: gainsboro;
}

@media screen and (max-width: 600px){
    .toc{
        display: none;
    }
    
    #toc-title{
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    #toc-text{
        text-transform: uppercase;
        font-weight: bold;
        flex: 1 1 auto;
    }
    
    .toc-button{
        width: 100%;
    }
}

@media screen and (min-width: 768px){
    .toc{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 5px 2px;
    }
    
    #toc-title{
        display: none;
    }
}

.toc-button{
    border: thin solid gainsboro;
    border-width: thin;
    background-color: transparent;
    font-weight: bold;
    color: #262626;
    padding: 5px 10px;
}

.toc-button:hover{
    border: thin solid;
}

.toc-button:focus{
    border: thin solid;
}

.toc-button.active{
    background-color: darkgray;
    border: thin solid;
    border-radius: 5px;
}

.reader{
    background-color: whitesmoke;
    text-align: justify;
    overflow-y: auto;
}

.article-content{
    display: none;
    height: 100%;
}

.article-title{
    border-bottom: thin solid darkgray;
    margin: 5px 0 20px 0;
}

.reader-content{
    padding: 0 20px 0 20px;
    display: none;
}

h6{
    margin-bottom: 10px;
}

.reader-content ol{
    padding-inline-start: 20px;
}

.section-button{
    display: flex;
    width: 100%;
    border: 3px solid whitesmoke;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: gainsboro;
}

.arrow{
    transition: transform .25s;
}

.arrow.active{
    transform: rotate(180deg);
}
